.hero {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;

  h2,
  h3,
  h4 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }

  h2 {
    line-height: 1;
  }

  &_cta {
    text-align: center;
    margin-top: 3rem;
  }
}