.page {
  background: url(../../images/hero/background.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 100dvh;
  width: 100dvw;
}